#header {
   	font-size: 80px;
    color: rgb(226, 226, 226);
       font-family: '8BITWONDERNominal';
   font-weight: normal;
   font-style: normal;
}

#subhead {
   	font-size: 25px;
    color: rgb(226, 226, 226);
       font-family: '8BITWONDERNominal';
   font-weight: normal;
   font-style: normal;
}

body {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/004/661/885/original/daniel-lugo-background-china.gif?1485367948");
  background-repeat: no-repeat;
        width:1920px;
    height: auto;
}

 #paragraph {
    color: white;
  }
